.sticky-note {
    position: absolute;
    width: 200px;
    height: 150px;
    background-color: #fffb88;
    border: 1px solid #e0e0e0;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: move;
}

.sticky-note h4 {
    margin: 0 0 5px 0;
}

.sticky-note p {
    margin: 0;
}

.sticky-note button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    padding: 0;
    color: #a00;
}

.sticky-note button:hover {
    color: #ff0000;
}